/* Default style */
* 
{
    box-sizing: border-box;
}

/* Main body style */
body, html
{
    height: 100%;
    background-color: purple;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Banner style */
#Banner
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./Images/BSBanner2.jpg);
    height: 35%;
    width: 100%;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 5px solid black;
    min-height: 10%;
}

/* Navigation menu style */
.NavBar ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: relative;
}
  
/* Navigation menu item style */
.NavBar li 
{
    float: left;
}
  
/* Navigation menu text style */
.NavBar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Navigation menu when hovered style */
.NavBar li a:hover:not(.active) 
{   
    background-color: #111;
    color: white;
}

/* Navigation menu when selected style */
.NavBar .active 
{
    background-color: gold;
    color: black;
}

/* Navigation menu when in mobile mode style */
.NavBar li .mobileIcon
{
    display: none;
}

/* Grid style */
#grid
{
    max-width: 100%;
    width: 100%;
    margin: 0 auto; 
    padding: 0;
    font-size: 0; 
    list-style: none;
}

/* Grid item style */
#grid li 
{
    display: inline-block;
    *display: inline;
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
/* Grid cell style */
.gridCell 
{
    margin: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
       
/* Grid thumbnail style */
.gridImg 
{
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

/* Grid thumbnail when hovered over style */
.gridCell:hover .gridImg 
{
    transform: scale(1.05);
}
 
/* Grid overlay style */
.gridOverlay 
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: gold no-repeat center 20%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s;
    pointer-events: none;
}

/* Grid overlay when hovered over style */
.gridCell:hover .gridOverlay 
{
    opacity:0.8;
}

/* Grid text style */
.gridText 
{
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-weight: normal!important;
    top: 50%;
    color:black;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(-20px);
    transition: all .3s;
    pointer-events: none;
}

/* Grid cell text when hovered over style */
.gridCell:hover .gridText 
{
    transform: translateY(0px);
    opacity: 1;
}

/* Check for screen size to ensure style over different devices */
@media (max-width: 9000px) 
{
    #grid li 
    {
        width: 25%;
    }
}

@media (max-width: 1000px)
{
    .gridText
    {
        font-size: 12px;
    }
}

@media (max-width: 850px)
{
    #grid li 
    {
        width: 33.33%;
    }

    .gridText
    {
        font-size: 12px;
    }
}

/* Mobile cutoff */
@media (max-width: 600px) 
{
    #grid li 
    {
        width: 50%;
    }

    .gridText
    {
        font-size: 12px;
    }

    .NavBar li a
    {
        display: none;
    }

    .NavBar li a.mobileIcon 
    {
        float: right;
        display: block;
    }

    .NavBar.mobile
    {
        position: relative;
    }
    
    .NavBar.mobile li a.mobileIcon
    {
        position: absolute;
        right: 0;
        top: 0;
    }

    .NavBar.mobile li
    {
        float: none;
    }

    .NavBar.mobile li a 
    {
        float: none;
        display: block;
        text-align: left;
    }

    .NavBar.mobile li a:not(.active) 
    {   
        background-color: grey;
        color: white;
    }

    .NavBar.mobile li a:hover:not(.active) 
    {   
        background-color: #111;
        color: white;
    }
}

/* Modal style */
.modal 
{
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
  
/* Modal content style */
.modal-content 
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Modal content when hovered over style */
.modal-content:hover
{
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    filter: url(#brightness); 
    filter: brightness(70%);
    cursor: pointer;
}

/* Modal overlay when hovered over style */
.modal-content:hover ~ .modalOverlay
{
    opacity: 1;
}

/* Modal overlay style*/
.modalOverlay
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -125%);
    transform: translate(-50%, -125%);
    content: url("./Images/Play.png");
    width: 75px;
    height: 75px;
    max-width: 700px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    pointer-events: none;
}

/* Movie title in modal style */
#title
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 15px 0;
    height: 50px;
    font-size: 24px;
    margin-bottom: 30px;
}

/* Movie description in modal style */
#desc
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 5x 0;
    height: 50px;
    font-size: 16px;
}
  
/* Movie title and desc in modal animation*/
.modal-content, #title, #desc
{
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom 
{
    from {transform:scale(0)}
    to {transform:scale(1)}
}
 
/* Close modal */
.close 
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
/* Close button when hovered over style */
.close:hover, .close:focus 
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
@media only screen and (max-width: 700px)
{
    .modal-content 
    {
        width: 100%;
    }
}

/* Movie theater style */
#theater
{
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Movie theater container style */
.theaterContainer
{
    margin: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    display: block;
    position: relative center;
    overflow: hidden;
    width: auto;
    height: 90%;
}

/* Back button style */
#return
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: gold;
    width: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    bottom: 0;
}

/* Back button on hover style */
#return:hover
{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Home trailer style */
#homeVid
{
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Video player style */
.video
{
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    display: block;
    position: relative center;
    overflow: hidden;
    width: 50%;
    height: 50%;
}

/* Header text style */
h1
{
    text-align: center;
}